textarea {
  display: block;
  color: black;
  white-space: pre;
  padding: 5px 5px;
  background-color: #c4c4c4;
  margin: 5px 0px 0px 5px;
  font-size: 12px;
  resize: none;
  border: 2px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #c4c4c4;
}

a:visited {
  color: #84c754;
}
a:focus {
  color: #aaaa20;
}
a:hover {
  color: #20aa20;
}
a:active {
  color: orange;
}

a {
  background-color: #202020;
  color: #84c754;
  text-decoration: none;
  font-weight: bold;
}
body {
  font: 100% Courier New;
  letter-spacing: -1px;
  margin-top: 5ex;
  font-size: 12pt;
  line-height: 26px;
  background-color: #202020;
  color: #84c754;
}

nav {
  margin-top: 50px;
  text-align: left;
  line-height: 25px;
  position: fixed;
  width: 300px;
  font-size: 12pt;
}
nav ul {
  list-style-type: none;
}

.textbereich {
  background-color: #202020;
  margin-left: 260px;
  margin-top: 70px;
  padding: 5px 20px;
  font-size: 12pt;
}

.links {
  background-color: #202020;
  margin-left: 260px;
  margin-top: 70px;
  padding: 5px 20px;
  font-size: 11pt;
  display: block;
}

#logo img {
  position: absolute;
  top: 30px;
  left: 100px;
  position: fixed;
  height: 60px;
  width: 60px;
  filter: invert(80%);
}
