

textarea {
  display: block;
  font-family: monospace;
  color: black;
  white-space: pre;
  padding: 5px 5px;
  background-color: #c4c4c4;
  margin: 5px 0px 0px 5px;
  font-size: 14px;
  resize: none;
  border: 2px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #c4c4c4;
}

a:visited { color: #84c754; }
a:focus   { color: #aaaa20; }
a:hover   { color: #20aa20; }
a:active  { color: orange; }


  a {
    font: 100% Courier New;
    background-color: #202020;
    color: #84c754;
    text-decoration: none;
    font-weight: bold;
    font-size: 13pt;
 }
  body {
    font: 100% Courier New;
    margin: 20px;
    line-height: 26px;
    background-color: #202020;
    color: #84c754;
}

nav {
  float: left;
  display: block;
  line-height: 30px;
  position:fixed;
}
nav ul {
    list-style-type: none;
  }


div.textbereich {
  margin-left: 330px;
  padding: 5px 20px;
}